<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ko</string>

    <key>CFBundleDisplayName</key>
    <string>TerminalHangul</string>

    <key>CFBundleExecutable</key>
    <string>TerminalHangul</string>

    <key>CFBundleIconFile</key>
    <string>icon</string>

    <key>CFBundleIdentifier</key>
    <string>com.terminalhangul.inputmethod</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>TerminalHangul</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>thgl</string>

    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>LSUIElement</key>
    <true/>

    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>InputMethodConnectionName</key>
    <string>com.terminalhangul.inputmethod_Connection</string>

    <key>InputMethodServerControllerClass</key>
    <string>InputController</string>

    <key>InputMethodServerDelegateClass</key>
    <string>InputController</string>

    <key>TISInputSourceID</key>
    <string>com.terminalhangul.inputmethod</string>

    <key>TISIntendedLanguage</key>
    <string>ko</string>

    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Kore</string>
        <string>Hang</string>
    </array>

    <key>tsInputMethodIconFileKey</key>
    <string>icon.png</string>

    <key>tsInputModePrimaryInScriptKey</key>
    <true/>

    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.terminalhangul.inputmethod.korean</key>
            <dict>
                <key>KeyboardLayout</key>
                <string>com.apple.keylayout.2SetHangul</string>
                <key>TISInputSourceID</key>
                <string>com.terminalhangul.inputmethod.korean</string>
                <key>TISIntendedLanguage</key>
                <string>ko</string>
                <key>tsInputModeAlternateMenuIconFileKey</key>
                <string>han.png</string>
                <key>tsInputModeCharacterRepertoireKey</key>
                <array>
                    <string>Hang</string>
                </array>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeMenuIconFileKey</key>
                <string>han.png</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>han.png</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smKorean</string>
                <key>tsInputModeTitleKey</key>
                <string>TerminalHangul</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.terminalhangul.inputmethod.korean</string>
        </array>
    </dict>
</dict>
</plist>
